# Ignore Composer dependencies
/vendor/

# Ignore Node.js dependencies
/node_modules/

# Ignore Drupal development files
/core
/sites/*/files
/sites/*/private
/sites/*/settings.local.php

# Ignore IDE and OS-specific files
.DS_Store
.idea/
.vscode/
*.swp
